<form id="frmModificarPassword">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12">
            <div class="card border-primary mb-3">
                <div class="card-header">Modificar Contraseña</div>
                <div class="card-body">
                    <div class="form-group" id="frmContrasena">
                        <label for="ContrasenaNueva">Nueva Clave</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="ContrasenaNueva" name="ContrasenaNueva" required="" autocomplete="off">
                        </div>
                        <div class="invalid-feedback" id="msjContrasenaNueva"></div>
                    </div>
                    <div class="form-group" id="frmContrasena">
                        <label for="ContrasenaNuevaRepeticion">Repita Nueva Clave</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="ContrasenaNuevaRepeticion" name="ContrasenaNuevaRepeticion" required="" autocomplete="off">
                        </div>
                        <div class="invalid-feedback" id="msjContrasenaNuevaRepeticion"></div>
                    </div>
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger", id = "validationSummary" })

                    </div>
                    <input type="hidden" id="IdUsuario" name="IdUsuario" value="@ViewBag.IdUsuario" />
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btnModificar" name="btnModificar" class="btn btn-danger btn-block"><i class="fas fa-key"></i>&nbsp;Modificar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</form>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/sweetalert2.all.min.js"></script>
<script src="~/Scripts/page/modificaPassword.js"></script>